.lbcumple {
    position: absolute;
    top: 69%;
    left: 30%;
    font-size: 20px;
}

.lbDia {
    position: absolute;
    top: 72%;
    left: 28%;
    font-size: 20px;
}

.txtdia {
    position: absolute;
    top: 77%;
    left: 27.5%;
    width: 3%;
    height: 3%;
    border: 2px solid #808080;
    border-radius: 10px;
}

    .txtdia:hover {
        border: 3px solid #0094ff;
    }

.lbMes {
    position: absolute;
    top: 72%;
    left: 34%;
    font-size: 20px;
}

.txtMes {
    position: absolute;
    top: 77%;
    left: 32.5%;
    width: 7%;
    height: 3%;
    border: 2px solid #808080;
    border-radius: 10px;
}

    .txtMes:hover {
        border: 3px solid #0094ff;
    }

.lbyear {
    position: absolute;
    top: 72.15%;
    left: 42%;
    font-size: 20px;
}

.txtyear {
    position: absolute;
    top: 77%;
    left: 41%;
    width: 5%;
    height: 3%;
    border: 2px solid #808080;
    border-radius: 10px;
}

    .txtyear:hover {
        border: 3px solid #0094ff;
    }
